<div class="contact_us_dialog">
    <div style="font-weight: bold; margin-bottom: 15px;">
        Contact Us
    </div>
    <div style="margin-bottom: 15px; font-size: 13px;">
        For any query or issue, please write to us at <a href="mailto:support.business@khaalijeb.com" style="color: #ef5350; text-decoration: underline;">support.business@khaalijeb.com</a>
    </div>
    <button ng-click="closeContactDialog()" style="background: #ef5350; text-align: center; padding: 7px; color: white; font-weight: bold; text-transform: uppercase; border: unset; width: 100%;" md-autofocus>
        Got it
    </button>
</div>