<div>
    <div class="navbar">
        <div class="navbar_elements">
            <a href="/home"><img src="images/merchant_logo.svg" alt="logo" class="logo"></a>
        </div>
        <div class="navbar_elements" style="padding-left: 10px;">
            <span class="merchName">{{loggedInMerchantName}}</span>
            <span class="merchAddress" ng-if="loggedInMerchantParType === undefined">{{loggedInMerchantAddress}}</span>
            <div ng-show="outletArr.length > 0">
                <div ng-click="outletDropdownToggle()" style="width: fit-content;" id="outletListToggle" arrow-navigation>
                    {{homeVariablesObj.selectedMer}}
                    <i class="fa fa-caret-down" aria-hidden="true" id="outletListToggleIcon"></i>
                </div>
            </div>
        </div>
        <div class="navbar_elements" style="margin-left: auto; margin-right: 1vw;" profile-arrow-nav>
            <img id="profileIcon" src="../images/profile.svg" alt="profile" class="navbar_profile_img" ng-hide="homeVariablesObj.showNavDropdown" ng-click="navbarDropdownOpen()">
            <span id="navbarCrossIcon" class="navbar_cross" ng-show="homeVariablesObj.showNavDropdown" ng-click="navbarDropdownHide()">&times;</span>
        </div>
    </div>
    <div class="navbar_dropdown" ng-show="homeVariablesObj.showNavDropdown">
        <ul style="list-style: none; margin: 0px; padding: 0px; text-align: right;">
            <li class="navbar_dropdown_links" id="navLink_0" ng-click="openContactDialog()">
                Contact Us
            </li>
            <li class="navbar_dropdown_links" id="navLink_1" ng-click="openChangePassDialog()">
                Change Password
            </li>
            <li class="navbar_dropdown_links" id="navLink_2" ng-click="logout()" ng-class="{disabledLogoutBtn: homeVariablesObj.logoutDisabled}">
                Logout
            </li>
        </ul>
    </div>
    <div class="outletDropdown" ng-show="homeVariablesObj.outletDropdownShow">
        <div class="outletDropdownRow" ng-click="getOutletTrans('allOutlets')" id="row_0">All Outlets</div>
        <div ng-repeat="outlet in outletArr" id="row_{{$index + 1}}" class="outletDropdownRow" ng-click="getOutletTrans(outlet.merId)">
            <span ng-show="loggedInMerchantParType === 1">{{outlet.address}}</span>
            <span ng-show="loggedInMerchantParType === 2">{{outlet.shop_name}}</span>
        </div>
    </div>
</div>

<div style="display: flex; justify-content: center; margin: 5px; font-size: 12px;">
    <div class="test_home_menu" ng-class="{test_home_menu_active: homeVariablesObj.getAllTrans}" ng-click="getAllTransactions()" ng-focus="homeVariablesObj.hoverAllTrans = true" ng-blur="homeVariablesObj.hoverAllTrans = false">
        <img src="../images/transaction.svg" alt="all transactions list icon" ng-hide="homeVariablesObj.getAllTrans || homeVariablesObj.hoverAllTrans" class="test_home_menu_img">
        <img src="../images/transaction_red.svg" alt="all transactions list icon" ng-show="homeVariablesObj.getAllTrans || homeVariablesObj.hoverAllTrans" class="test_home_menu_img">
        &nbsp;ALL
    </div>
    <div class="test_home_menu" ng-class="{test_home_menu_active: homeVariablesObj.getPendingTrans}" ng-click="getPendingTransactions()" ng-focus="homeVariablesObj.hoverPendingTrans = true" ng-blur="homeVariablesObj.hoverPendingTrans = false">
        <img src="../images/pending.svg" alt="pending transactions list icon" ng-hide="homeVariablesObj.getPendingTrans || homeVariablesObj.hoverPendingTrans" class="test_home_menu_img">
        <img src="../images/pending_red.svg" alt="pending transactions list icon" ng-show="homeVariablesObj.getPendingTrans || homeVariablesObj.hoverPendingTrans" class="test_home_menu_img">
        &nbsp;PENDING
    </div>
    <div class="test_home_menu" ng-class="{test_home_menu_active: homeVariablesObj.getSettledTrans}" ng-click="getSettledTransactions()" ng-focus="homeVariablesObj.hoverSettledTrans = true" ng-blur="homeVariablesObj.hoverSettledTrans = false">
        <img src="../images/settlement.svg" alt="all transactions list icon" ng-hide="homeVariablesObj.getSettledTrans || homeVariablesObj.hoverSettledTrans" class="test_home_menu_img">
        <img src="../images/settlement_red.svg" alt="all transactions list icon" ng-show="homeVariablesObj.getSettledTrans || homeVariablesObj.hoverSettledTrans" class="test_home_menu_img">
        &nbsp;SETTLED
    </div>
</div>

<div ng-hide="online" style="text-align: center; color: #ef5350;">
    You're Offline
</div>

<div ng-show="!homeVariablesObj.getAllTrans && !homeVariablesObj.getPendingTrans && !homeVariablesObj.getSettledTrans" style="text-align: center; background-color: #ffffff;">
    <img src="../images/students_jumping.svg" alt="" class="home_page_img">
</div>



<!--<div class="home_main_menu">
    <div class="home_main_menu_btn" ng-click="getAllTransactions()">
        <div>
            <div class="home_main_menu_innerContainer" ng-class="{home_main_menu_active_btn: homeVariablesObj.getAllTrans}">
                <img src="images/merchantDashImg/Transaction_Fill.svg" class="home_main_menu_img">
            </div>
        </div>
        <h4>User Payment</h4>
    </div>
    <div class="home_main_menu_btn" ng-click="getPendingTransactions()">
        <div style="border-left: 2px solid #eee; border-right: 2px solid #eee;">
            <div class="home_main_menu_innerContainer" ng-class="{home_main_menu_active_btn: homeVariablesObj.getPendingTrans}">
                <img src="images/merchantDashImg/Calendar.svg" class="home_main_menu_img">
            </div>
        </div>
        <h4>Settlement Pending</h4>
    </div>
    <div class="home_main_menu_btn" ng-click="getSettledTransactions()">
        <div>
            <div class="home_main_menu_innerContainer" ng-class="{home_main_menu_active_btn: homeVariablesObj.getSettledTrans}">
                <img src="images/merchantDashImg/Successful.svg" class="home_main_menu_img">
            </div>
        </div>
        <h4>Settlement Done</h4>
    </div>
</div>-->

<ng-include src="'../views/userPayments.html'" ng-if="homeVariablesObj.getAllTrans" style="background-color: white;"></ng-include>
<ng-include src="'../views/setlPending.html'" ng-if="homeVariablesObj.getPendingTrans" style="background-color: white;"></ng-include>
<ng-include src="'../views/settled.html'" ng-if="homeVariablesObj.getSettledTrans" style="background-color: white;"></ng-include>

<footer>
    <div ng-click="openContactDialog()" class="footerLink">
        Contact
    </div>
    <div>
        Inkdrops Labs Pvt Ltd &copy; 2018
    </div>
</footer>














