<div ng-controller="pendingTransCtrl">
    <div ng-show="pendingTransVariablesObj.displayLoader" style="text-align: center;" ><img class="loader" src="../images/loader.gif" alt="loader"></div>
    <div style="text-align: center; margin-top: 20px;" ng-show="pendingTransVariablesObj.showErrorMsg" id="errMsg"></div>
    <div ng-hide="pendingTransVariablesObj.displayLoader">
        <div class="trans_table_container">
            <div ng-repeat="transaction in currentPagePendingTransList">
                <md-card ng-click="pendingTransToggleRow(transaction.trans_id)" class="trans_table_row">
                    <div ng-if="loggedInMerchantParType !== undefined && loggedInMerchantParType === 1" class="trans_table_row_outlet">
                        <span ng-if="transaction.shop_area2 !== null && transaction.shop_area2 !== undefined && transaction.shop_area2 !== ''">{{transaction.shop_area2}}, </span>{{transaction.shop_area1}}
                    </div>
                    <div ng-if="loggedInMerchantParType !== undefined && loggedInMerchantParType === 2" class="trans_table_row_outlet">
                        {{transaction.shop_name}}
                    </div>
                    <div style="display: flex;">
                        <img class="trans_table_row_img" src="../images/boy.svg" alt="">
                        <div class="trans_table_row_firstContainer">
                            <span style="font-weight: bold;" class="trans_table_row_userName">{{transaction.user_name}}</span>
                            <span><span class="trans_table_slide_transId">Trans ID:</span> <span style="font-weight: bold; font-size: 13px;">{{transaction.trans_id}}</span></span>
                        </div>
                        <div class="trans_table_row_secondContainer">
                            <span class="trans_table_row_amount" style="font-weight: bold; margin-left: auto;">&#8377;&nbsp;{{transaction.amount}}</span>
                            <span class="trans_table_row_dateTime">
                                {{transaction.dateTime | date : "dd MMM '''yy"}}, <span style="text-transform: lowercase;">{{transaction.dateTime | date : "hh:mm a"}}</span>
                            </span>
                        </div>
                    </div>
                </md-card>
                <md-card ng-if="pendingTransVariablesObj.currentRow === transaction.trans_id" class="trans_table_slide">
                    <div style="display: flex; flex-direction: column;">
                        <div style="display: flex;">
                            <img class="trans_table_slide_imgs" src="../images/merchantDashImg/Transaction_Fill.svg" alt="">
                            <div class="trans_table_slide_firstContainer">
                                <span class="trans_table_slide_totalBill">Total Bill Amount</span>
                            </div>
                            <div class="trans_table_slide_totalBillAmt">
                                <span style="font-weight: bold; margin-left: auto;">&#8377; {{transaction.totalBillAmount}}</span>
                            </div>
                        </div>
                        <div style="display: flex;">
                            <img class="trans_table_slide_imgs" src="../images/coupon.svg" alt="">
                            <div class="trans_table_slide_secondContainer">
                                <span style="font-weight: bold;">Coupon Applied</span>
                                <span class="trans_table_slide_coupTitle">{{transaction.coup_title}}</span>
                            </div>
                            <div class="trans_table_slide_disc">
                                <span style="font-weight: bold; margin-left: auto;">&#8377; {{transaction.disc}}</span>
                            </div>
                        </div>
                        <div style="display: flex;">
                            <img src="../images/yellow_clock.svg" class="trans_table_slide_settldImg" alt="">
                            <div class="trans_table_slide_thirdContainer">
                                <span style="font-weight: bold;">Settlement Due</span>
                                <button class="trans_row_view_detls_btn" ng-click="displayTransDialogFunc();">View Settlement Details</button>
                            </div>
                        </div>
                    </div>
                </md-card>
            </div>
        </div>


        <div ng-if="pendingTransList.length > 0" style="text-align: center;">
            <ul uib-pagination previous-text="Prev" total-items="pendingTransVariablesObj.totalItems" num-pages="noOfPages" ng-model="pendingTransVariablesObj.currentPage"
                items-per-page="pendingTransVariablesObj.pageSize" ng-change="pendingTransPageChanged(pendingTransVariablesObj.currentPage)" max-size="5"></ul>
        </div>
    </div>
</div>
